
@font-face {
  font-family: 'Rawline';
  src: url('fonts/rawline-100.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Rawline';
  src: url('fonts/rawline-100i.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Rawline';
  src: url('fonts/rawline-200.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Rawline';
  src: url('fonts/rawline-200i.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Rawline';
  src: url('fonts/rawline-300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rawline';
  src: url('fonts/rawline-300i.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Rawline';
  src: url('fonts/rawline-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rawline';
  src: url('fonts/rawline-400i.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Rawline';
  src: url('fonts/rawline-500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rawline';
  src: url('fonts/rawline-500i.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Rawline';
  src: url('fonts/rawline-600.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rawline';
  src: url('fonts/rawline-600i.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Rawline';
  src: url('fonts/rawline-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Rawline';
  src: url('fonts/rawline-700i.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Rawline';
  src: url('fonts/rawline-800.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Rawline';
  src: url('fonts/rawline-800i.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}


@font-face {
  font-family: 'Rawline';
  src: url('fonts/rawline-900.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Rawline';
  src: url('fonts/rawline-900i.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

:root {
  --main-color: #ffffff;
  --second-color: #f7ece1;
  --third-color: #daaa3e;
  --forth-color: #901c1f;
  --text-color: #202020;
}
html {
  font-family:Rawline, sans-serif;
  font-size: thin;
  scrollbar-color: var(--third-color) var(--main-color);
  scrollbar-width: thin;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p, h2, a, li {
  color: var(--text-color);
  font-weight:300;
  line-height: 1.5;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 20px;
  font-weight:300;
}
p, a, li {
  font-size: 15px;
}
body {
  background-color: var(--main-color);
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
}
.pair-containers{
  padding: 60px 1em;
  display: flex;
  flex-direction: column;
}


.slogan-section {
  min-height: 11em;
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
}
.slogan-text {
  font-size: 2em;
  color: var(--third-color);
  font-weight: 700;
}

header {
  background-color: transparent;
  text-align: center;
  width: 100%;
  height: 4em;
  position: fixed;
  padding:0 10em;
  z-index: 1;
  transition: transform 0.3s ease-in-out,background-color 0.3s ease;
}
header.hidden {
  transform: translateY(-100%);
}
header.scrolled {

  background-color: var(--main-color);
}
.header-logo {
  padding: 1em;
  display: flex;
  justify-content: center;
  height: inherit;
  align-items:center;
  gap:2em
}
.btn-contact-us {
  background-color: var(--third-color);
  color: #fff;
  padding: 0.75em 1.5em;
  border-radius: 30px;
  text-decoration: none;
  font-size: 1em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}
.side-menu__button {
  position: absolute;
  right: 0;
  border: none;
  width: 5em;
  height: 100%;
  background: transparent;
  border-radius: 50% 0% 0% 50%;
}
.full-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--third-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

.full-menu ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.full-menu li {
  margin: 1em 0;
}

.full-menu a {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  transition: color 0.3s ease;
}

.full-menu a:hover {
  color: var(--dark-gold);
}

.full-menu.active {
  opacity: 1;
  pointer-events: auto;
}
.menu-close {
  position: absolute;
  top: 2em;
  right: 1em;
  font-size: 2em;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
  transition: color 0.3s ease;
}

.menu-close:hover {
  color: var(--dark-gold);
}
.nav-menu {
  display: none;
  width: 100%;
  align-items:center;
}

.nav-menu ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}
.nav-menu a {
  text-decoration: none;
  transition: color 0.3s ease;
}

footer {
  background: var(--second-color);
  color: #fff;
  text-align: center;
  padding: 2em 0 4em 0;
}
/* Кнопки */
.btn-record, .btn-whatsapp {
  display: none;
}




.about {
  /* padding: 20px; */
  text-align: center;
}
.about h2 {
  margin-bottom: 20px;
}

.about p {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 2em;
}

.advantages {
  /* background-color: var(--second-color); */
  /* border-radius:1em; */
  padding: 60px 0px;
  text-align: center;
}

.advantages h2 {
  color: var(--text-color);
  margin-bottom: 30px;
}

.adv-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 700px;
  text-align: left;
}

.adv-list li {
  color: var(--text-color);
  margin-bottom: 15px;
  position: relative;
  display: flex;
  line-height: 1.5em;
}
.services {
  color: var(--dark-gold);
  padding: 60px 1em;
  text-align: center;
}

.services h2 {
  color: var(--dark-gold);
  margin-bottom: 30px;
}
.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
}

.service-item {
  position: relative;
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-position: center;
  border-radius: 1em;
  background-color:#AE2C36;
  overflow: hidden;
  cursor: pointer;
}

.service-item:hover {
  background-color: #fff0f0;
  border-color: var(--dark-red);
  color: var(--dark-red);
}

.price {
  padding: 60px 20px;
  text-align: center;
}

.price h2 {
  margin-bottom: 30px;
}
.price iframe {
  height: 35em;
  border: none;
  border-radius: 16px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.our-work {
  padding: 60px 0px;
  text-align: center;
}
.our-work h2 {
  margin-bottom: 30px;
}
.our-work-slider {
  scrollbar-color: var(--third-color) var(--second-color);
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  padding-bottom: 1rem;
}
.our-work-slide {
  flex: 0 0 80%;
  scroll-snap-align: start;
  border-radius: 1rem;
  background-color: var(--third-color);
  background-size: cover;
  background-position: center;
  max-width:20em;
  aspect-ratio: 1/1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.reviews {
  padding: 60px 0px;
  text-align: center;
}
.reviews h2 {
  margin-bottom: 30px;
}
.reviews-slider {
  scrollbar-color: var(--second-color) transparent;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  padding-bottom: 1rem;
}
.reviews-slide {
  flex: 0 0 80%;
  scroll-snap-align: start;
  border-radius: 1rem;
  background-color: var(--main-color);
  background-size: cover;
  background-position: center;
  max-width:20em;
  padding:1em;
  height: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.btn-fixed {
  position: fixed;
  bottom: 1em;
  right: 1em; 
  background-color: var(--third-color);  
  color: #fff; 
  padding: 0.75em 1.5em;
  border-radius: 30px;
  text-decoration: none;
  font-size: 1em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  transition: font-size 0.3s ease;
  transition: opacity 0.5s ease;
  z-index: 1000;
  opacity: 0;
}

.btn-fixed:hover {
    font-size: 1.2em;
}
.btn-fixed.visible {
  opacity: 1;
}

.staff {
  background: var(--dark_blue);
  padding: 60px 1em;
  color:var(--dark-gold);
}
.staff h2{
  margin-bottom: 30px;
}
.staff-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding-bottom: 1rem;
}

.staff-card {
  aspect-ratio: 2/3;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  background-size: cover;
  background-position: top center;
  position: relative;
  display: flex; 
  flex-direction: column; 
  justify-content: flex-end;
  
}


.staff-info {
  padding: 1.5rem;
  text-align: center;
  /* min-height: 13em; */
  background-image: 
    linear-gradient(to bottom, 
      rgba(0, 0, 0, 0) 0%, 
        rgb(255 255 255 / 56%) 60%, 
      rgb(255 255 255 / 78%) 100%);
}
.staff-info h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.2rem;
  color: var(--text-color);
  font-weight: 500;
}

.staff-info .position {
  margin: 0 0 0.5rem 0;
  font-size: 0.95rem;
  color: #555;
  line-height: 1.4;
}

.staff-info .experience {
  margin: 0 0 1rem 0;
  font-size: 0.9rem;
  color: #888;
  font-style: italic;
}
.clinic {
  padding: 60px 0px;
  text-align: center;
}

.clinic-slider {
  scrollbar-color: var(--third-color) var(--second-color);
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  padding-bottom: 1rem;
}

.clinic-slide {
  flex: 0 0 80%;
  scroll-snap-align: start;
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  aspect-ratio: 4 / 3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.clinic-slide:hover {
  transform: scale(0.98);
}
/* Стили для просмотрщика */

.image-viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.image-viewer.active {
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 1;
  visibility: visible;
}

.viewer-image {
  border-radius: 1em;
  max-width: 90%;
  max-height: 90vh;
  transform: scale(0.8);
  opacity: 0;
  transition: all 0.3s ease 0.1s;
}

.image-viewer.active .viewer-image {
  transform: scale(1);
  opacity: 1;
}

.image-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 20px;
}

.nav-btn {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-btn:hover {
  background: rgba(255, 255, 255, 0.3);
}

.image-counter {
  color: white;
  font-size: 18px;
  font-family: Arial, sans-serif;
  min-width: 60px;
  text-align: center;
}
.reviews h2{
  margin-bottom: 30px;  
}
.location {
  background-color: var(--dark_blue);
}
.location h2 {
  color: var(--dark-gold);
}
.location p {
  color: var(--dark-gold);
  margin-bottom: 30px;
}
.social-media {
  background-color: var(--dark_blue);
}
.social-icons {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 1em; 
  padding: 0.5em 0;
}

.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5em;
  height: 2.5em; 
  color: inherit; 
  text-decoration: none;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1); 
}

.social-icon svg {
  width: 1.5em;
  height: 1.5em;
  fill: var(--text-color);
}
.contacts {
  line-height: 1.6;
  display: flex;
  justify-content: center;
  gap: 2em;
  width: 100%;
}
.contact-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 6px;
}

.contact-item a {
  text-decoration: none;
  transition: color 0.2s;
}



@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }
  .service-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 900px) {
  .slogan-section {
    padding-left: 5em;
  }
  .about {
    padding-right: 5em;
  }
  .header-logo {
    justify-content: space-between;
  }
  .pair-containers {
    padding:60px 5em;
    display: flex;
    flex-direction: row;
  }
  .nav-menu {
    display: flex;
  }
  .btn-record, .btn-whatsapp {
    display: inline-block;
    margin: 10px;
    padding: 12px 20px;
    background: var(--dark-red);
    color: #fff;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
  }
  .side-menu {
    display: none;
  }
  header {
    text-align: start;
  }
  body {
    font-size: 18px;
  }
  h2 {
    font-size: 25px;
  }
  p {
    /* font-size: 18px; */
  }
  .advantages {
    width: 50%;
  }
  .services {
    width: 100%;
    padding: 60px 10em;
  }
  .clinic {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .service-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .staff,.price,.our-work {
    padding:60px 10em;
  }

}